@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.over {
  overflow-y: hidden;
}

.toastify.my-toasty {
  background: #5db352;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 171px;
  background: #569a4f;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  color: white;
}
.header .header-content .header-div_input {
  display: flex;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background: white;
}
.header .header-content .header-div_input .div_input-section_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  padding: 0px 5px;
  color: #d8d3d9;
}
.header .header-content .header-div_input .div_input-section_text {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-content .header-div_input .div_input-section_text input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1em;
  color: #626062;
  font-family: "Montserrat", sans-serif;
}
.header .header-content .header-div_input .div_input-section_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}
.header .header-content .header-div_input .div_input-section_submit input {
  border-radius: 15px;
  padding: 3px 5px;
  background: #569a4f;
  color: white;
  border: 1px solid #569a4f;
}
.header .header-section_h6 {
  margin: 15px 0px;
  width: 90%;
  text-align: start;
}
.header .header-pance {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #569a4f;
  width: 100%;
  height: 50px;
  border-radius: 0 0 100% 100%;
}
.header .header-pance .header-section_poster {
  display: flex;
  background: #5db352;
  width: 90%;
  min-width: 90%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.header .header-pance .header-section_poster .div-section_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex: 1;
  font-family: "Montserrat", sans-serif;
}
.header .header-pance .header-section_poster .div-section_1 p {
  color: white;
}
.header .header-pance .header-section_poster .div-section_1 p:nth-child(1) {
  font-weight: 600;
}
.header .header-pance .header-section_poster .div-section_1 p:nth-child(2) {
  font-size: 2.3em;
  font-weight: 800;
}
.header .header-pance .header-section_poster .div-section_1 p:nth-child(3) {
  font-size: 0.7em;
  text-align: center;
}
.header .header-pance .header-section_poster .div-section_1 button {
  background: #fdee30;
  border-radius: 10px;
  border: 0px;
  padding: 3px 5px;
  font-family: "Poppins", "sans-serif";
  font-size: 0.7em;
}
.header .header-pance .header-section_poster .div-section_2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header .header-pance .header-section_poster .div-section_2 .img-form {
  position: relative;
}
.header .header-pance .header-section_poster .div-section_2 .img_women {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}
.header .conteiner {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.header .conteiner .conteiner-point {
  width: 7px;
  height: 7px;
  background: #d8d3d9;
  border-radius: 100%;
  margin: 3px;
}
.header .conteiner .point-sectioned {
  background: #569a4f;
  width: 25px;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Poppins", "sans-serif";
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main .main-hr {
  width: 100vw;
  border: 2px solid #f4f4f4;
  margin-top: 15px;
}
.main .main-article {
  width: 100%;
  text-align: start;
  font-size: 0.8em;
  margin: 15px 0px;
  padding: 0px 5%;
}
.main .main-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0px;
  color: black;
  padding: 0px 5px;
  overflow-x: auto; /* Habilita la barra de desplazamiento */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */
}
.main .main-section::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit, como Chrome y Safari */
}
.main .main-section .section-div_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: min-content;
  text-align: center;
  font-size: 0.9em;
  margin: 0px 10px;
}
.main .main-section .section-div_categories .div-section_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 65px;
  background-color: #d7f2e9;
  border-radius: 8px;
}
.main .main-section .section-div_categories .div-section_photo img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.main .main-section_2 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main .main-section_2 .section-article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
.main .main-section_2 .section-article h2 {
  font-size: 1.2em;
}
.main .main-section_2 .section-article .article-span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 92px;
}
.main .main-section_2 .section-article .article-span i {
  font-size: 1.4em;
  font-weight: bold;
}
.main .main-section_2 .section-div_conteinerCards {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  overflow: auto; /* Habilita la barra de desplazamiento */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */
}
.main .main-section_2 .section-div_conteinerCards::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit, como Chrome y Safari */
}
.main .main-section_2 .section-div_conteinerCards .section-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-width: 350px;
  max-height: 356px;
  background: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  margin: 0px 10px;
  position: relative;
}
.main .main-section_2 .section-div_conteinerCards .section-card .section-div_like {
  position: absolute;
  text-align: end;
  padding: 5px 15px;
  font-size: 2em;
  width: 100%;
}
.main .main-section_2 .section-div_conteinerCards .section-card .section-div_like:active {
  color: red;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 187px;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerImg img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerText {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerText p {
  padding: 3px 0px;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerText p:nth-child(1) {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 48px;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerText p:nth-child(2) {
  font-size: 1.1em;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerText p:nth-child(3) {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: line-through;
  color: #b6b0b8;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons {
  width: 100%;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons form button:nth-child(1) {
  background: #5db352;
  width: 70%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1em;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons form button:nth-child(2) {
  width: 20%;
  font-size: 1.8em;
  background: white;
}
.main .main-section_2 .section-div_conteinerCards .section-card .card-containerButtons form button:nth-child(2) i {
  font-weight: 1000;
}

.div_modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(235, 235, 241);
  overflow: hidden;
  padding-bottom: 0px;
  transition: transform ease 1s;
}
.div_modal .section_modal_header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  background: #5db352;
}
.div_modal .section_modal_header article {
  flex: 1;
  display: flex;
  align-items: center;
  color: white;
}
.div_modal .section_modal_header article p {
  font-family: "Montserrat", sans-serif;
}
.div_modal .section_modal_header article:nth-child(1) {
  justify-content: flex-start;
}
.div_modal .section_modal_header article:nth-child(2) {
  justify-content: flex-end;
}
.div_modal .section_modal_header article i {
  font-size: 2.2em;
}
.div_modal .header-show {
  position: absolute;
  background: transparent;
}
.div_modal .delay {
  transition-delay: 1s;
}
.div_modal .conteiner-cards-fav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
}
.div_modal .conteiner-cards-fav .article_card_fav {
  display: flex;
  color: black;
  width: 100%;
  height: 160px;
  min-height: 160px;
  padding: 10px;
  flex-direction: row;
  border-bottom: 1px solid #d8d3d9;
  background: white;
}
.div_modal .conteiner-cards-fav .article_card_fav:last-child {
  border-bottom: 0px;
}
.div_modal .conteiner-cards-fav .article_card_fav:first-child {
  margin-top: 50px;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 100px;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_img img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .title_fav {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .through {
  text-decoration: line-through;
  color: #979797;
  font-size: 0.8em;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .delete {
  color: #3e76d3;
  font-size: 1em;
  padding: 0px 3px;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .ofert {
  display: flex;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .ofert p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .ofert p:nth-child(1) {
  font-size: 1.4em;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .ofert p:nth-child(2) {
  color: #5db352;
  font-size: 0.8em;
  font-weight: 800;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .send {
  display: flex;
  color: #5db352;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .send i {
  font-size: 1.4em;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .send p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
  font-size: 0.9em;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .send p:nth-child(1) {
  font-size: 0.8em;
}
.div_modal .conteiner-cards-fav .article_card_fav .article_text .send p:nth-child(3) {
  font-size: 0.8em;
  color: #5db352;
  font-family: "Poppins", "sans-serif";
  font-weight: bolder;
  font-style: italic;
}
.div_modal .conteiner-cards-fav .card-cart {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 286px;
  margin: 5% 0px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.div_modal .conteiner-cards-fav .card-cart:first-child {
  margin-top: 60px;
}
.div_modal .conteiner-cards-fav .card-cart:last-child {
  margin-bottom: 170px;
}
.div_modal .conteiner-cards-fav .card-cart section {
  background: white;
}
.div_modal .conteiner-cards-fav .card-cart .cart-top {
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-family: "Poppins", "sans-serif";
  font-size: 0.9em;
  text-transform: uppercase;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0.8px 0px;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-img-cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 20%;
  min-width: 70px;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-img-cart img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart p:nth-child(1) {
  font-weight: 400;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart .myButton {
  font-size: 0.9em;
  color: #3e76d3;
  font-weight: 700;
  margin: 10px 0px;
  border: 0px;
  background: transparent;
  width: min-content;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart .cart-text-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
  font-size: 1.2em;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart .cart-text-price select {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #d8d3d9;
  border-radius: 5px;
  width: 80px;
}
.div_modal .conteiner-cards-fav .card-cart .cart-mid .conteiner-text-cart .cart-text-price p {
  color: black;
  display: inline-block;
  font-weight: 500;
}
.div_modal .conteiner-cards-fav .card-cart .card-bot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.div_modal .conteiner-cards-fav .card-cart .card-bot p {
  font-size: 1em;
}
.div_modal .conteiner-cards-fav .card-cart .card-bot p:nth-child(2) {
  color: #5db352;
}
.div_modal .conteiner-cards-fav .card-cart .cart-line {
  width: 100%;
  padding: 10px;
  background: rgb(235, 235, 241);
  border-radius: 0px 0px 10px 10px;
}
.div_modal .conteiner-cards-fav .card-cart .cart-line .line {
  width: 100%;
  height: 5px;
  background: #569a4f;
  border-radius: 10px;
  margin: 5px 0px;
}
.div_modal .conteiner-cards-fav .object-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: 8%;
}
.div_modal .conteiner-cards-fav .object-img img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.div_modal .conteiner-cards-fav .body-object {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 35px 35px 0px 0px;
  padding: 0px 0px 90px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.div_modal .conteiner-cards-fav .body-object .body-article {
  padding: 35px 25px;
}
.div_modal .conteiner-cards-fav .body-object .body-article p {
  font-size: 1.5em;
}
.div_modal .conteiner-cards-fav .body-object .body-article .title {
  font-size: 1.7em;
  font-weight: 700;
}
.div_modal .conteiner-cards-fav .body-object .body-article span {
  display: flex;
}
.div_modal .conteiner-cards-fav .body-object .body-article span p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_modal .conteiner-cards-fav .body-object .body-article span p:nth-child(2) {
  font-size: 1.1em;
  margin-left: 15px;
  color: #979797;
  text-decoration: line-through;
}
.div_modal .conteiner-cards-fav .body-object .body-article_buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  font-weight: lighter;
  width: 100%;
  border-bottom: 1px solid black;
}
.div_modal .conteiner-cards-fav .body-object .body-article_buttons .p {
  position: relative;
  padding-bottom: 14px;
}
.div_modal .conteiner-cards-fav .body-object .body-article_buttons .p::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #000;
  border-radius: 10px 10px 0 0;
  transform: translate(-30px);
  opacity: 0;
  transition: transform 0.6s;
}
.div_modal .conteiner-cards-fav .body-object .body-article_buttons .animacion-activada::after {
  animation: mover-derecha 1s ease forwards;
}
.div_modal .conteiner-cards-fav .body-object .body-article_description {
  padding: 25px 25px;
  text-align: start;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados p {
  padding: 0px 18px;
  font-weight: 600;
  font-size: 1.1em;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
  overflow-x: scroll;
  padding: 0px 5px;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados {
  display: flex;
  width: 250px;
  height: 90px;
  border-radius: 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  margin: 0px 8px;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados .article-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados .article-img img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados .article-relacionados_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 15px 10px 0px;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados .article-relacionados_text p:nth-child(1) {
  font-size: 1.3em;
  font-weight: 500;
}
.div_modal .conteiner-cards-fav .body-object .body-article-relacionados .section-relacionados_cards .card-relacionados .article-relacionados_text p:nth-child(2) {
  font-size: 1.1em;
  font-weight: 500;
}

.show {
  transform: translate(0%);
}

@keyframes mover-derecha {
  from {
    opacity: 0;
    transform: translate(-30px);
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}
.color-modal {
  background-color: #569a4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .header-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #569a4f;
  font-family: "Montserrat", sans-serif;
}
body .header-product .heaeder-section-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: white;
  font-size: 1.3em;
}
body .header-product .heaeder-section-two {
  display: flex;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  background: white;
}
body .header-product .heaeder-section-two .div_input-section_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  padding: 0px 5px;
  color: #d8d3d9;
}
body .header-product .heaeder-section-two .div_input-section_text {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header-product .heaeder-section-two .div_input-section_text input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1em;
  color: #626062;
}
body .header-product .heaeder-section-two .div_input-section_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}
body .header-product .heaeder-section-two .div_input-section_submit input {
  border-radius: 15px;
  padding: 3px 5px;
  background: #569a4f;
  color: white;
  border: 1px solid #569a4f;
}
body .header-product .heaeder-section-three {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0px;
  color: white;
  padding: 0px 5px;
  overflow-x: auto; /* Habilita la barra de desplazamiento */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */
}
body .header-product .heaeder-section-three::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit, como Chrome y Safari */
}
body .header-product .heaeder-section-three .section-div_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: min-content;
  text-align: center;
  font-size: 0.9em;
  margin: 0px 10px;
}
body .header-product .heaeder-section-three .section-div_categories .div-section_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 65px;
  background-color: white;
  border-radius: 8px;
}
body .header-product .heaeder-section-three .section-div_categories .div-section_photo img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
body main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .conteiner-cards-filter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body main .conteiner-cards-filter .section-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 170px;
  height: 100%;
  background: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  margin: 10px 5px;
  position: relative;
}
@media (max-width: 365px) {
  body main .conteiner-cards-filter .section-card {
    width: 100%;
    max-width: 230px;
  }
}
body main .conteiner-cards-filter .section-card .section-div_like {
  position: absolute;
  text-align: end;
  padding: 5px 15px;
  font-size: 1.6em;
  width: 100%;
}
body main .conteiner-cards-filter .section-card .section-div_like:active {
  color: red;
}
body main .conteiner-cards-filter .section-card .card-containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
body main .conteiner-cards-filter .section-card .card-containerImg img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
body main .conteiner-cards-filter .section-card .card-containerText {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
body main .conteiner-cards-filter .section-card .card-containerText p {
  padding: 3px 0px;
}
body main .conteiner-cards-filter .section-card .card-containerText p:nth-child(1) {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 48px;
}
body main .conteiner-cards-filter .section-card .card-containerText p:nth-child(2) {
  font-size: 1.1em;
}
body main .conteiner-cards-filter .section-card .card-containerText p:nth-child(3) {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: line-through;
  color: #b6b0b8;
}
body main .conteiner-cards-filter .section-card .card-containerButtons {
  width: 100%;
}
body main .conteiner-cards-filter .section-card .card-containerButtons form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body main .conteiner-cards-filter .section-card .card-containerButtons form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
body main .conteiner-cards-filter .section-card .card-containerButtons form button:nth-child(1) {
  background: #5db352;
  width: 70%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1em;
}
body main .conteiner-cards-filter .section-card .card-containerButtons form button:nth-child(2) {
  width: 20%;
  font-size: 1.8em;
  background: white;
}
body main .conteiner-cards-filter .section-card .card-containerButtons form button:nth-child(2) i {
  font-weight: 1000;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background: #5db352;
  border-radius: 15px 15px 0 0;
  position: fixed;
  bottom: -1px;
}
.footer .footer-div_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  flex: 1;
}
.footer .footer-div_icons span {
  display: none;
  width: min-content;
  min-width: 18px;
  padding: 0px 3px;
  height: min-content;
  position: absolute;
  background: red;
  border-radius: 50%;
  font-size: 0.5em;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 16px;
}

.footerCart {
  display: none;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 140px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footerCart .footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 7px;
}
.footerCart .footer-text section {
  display: flex;
  flex-direction: column;
}
.footerCart .footer-text section:last-child {
  text-align: end;
}
.footerCart .footer-text section .bold {
  font-weight: 600;
  font-size: 1.2em;
}
.footerCart button {
  background: #3e76d3;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 600;
  width: 85%;
  border: 0px;
  margin-top: 15px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.footer-ver {
  display: none;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 80px;
  background: white;
  left: 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tu preferencia */
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05)); /* Ajusta la opacidad según tu preferencia */
}
.footer-ver .footer-section_v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.footer-ver .footer-section_v:nth-child(1) {
  border-radius: 15px 0px 0 0;
}
.footer-ver .footer-section_v:nth-child(2) {
  border-radius: 0px 15px 0 0;
}
.footer-ver .footer-section_v p {
  width: 34px;
  height: 34px;
  font-size: 2.1em;
  font-weight: bolder;
}
.footer-ver .footer-section_v p:nth-child(2) {
  background: rgb(236, 235, 235);
  border-radius: 6px;
  margin: 0px 8px;
}
.footer-ver .footer-section_v button {
  background: #5db352;
  padding: 13px;
  border: 0px solid;
  border-radius: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.9em;
  box-shadow: inset 0 0px 40px rgba(0, 0, 0, 0.2);
}

.Dnone {
  display: none;
}

.Dflex {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
