@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background: $verde-claro;
  border-radius: 15px 15px 0 0;
  position: fixed;
  bottom: -1px;

  .footer-div_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    flex: 1;

    span {
      display: block;
      width: min-content;
      min-width: 18px;
      padding: 0px 3px;
      height: min-content;
      position: absolute;
      // background: rgb(255, 44, 44);
      border-radius: 50%;
      font-size: 0.6em;
      font-family: "Signika Negative", sans-serif;
      text-align: center;
      margin-left: 7px;
      margin-bottom: 30px;
      color: rgb(255, 255, 255);
      font-weight: 900;
    }
  }
}
.footerCart {
  display: none;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 140px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .footer-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 7px;
    section {
      display: flex;
      flex-direction: column;
      &:last-child {
        text-align: end;
      }
      .bold {
        font-weight: 600;
        font-size: 1.2em;
      }
    }
  }
  button {
    background: $azul;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 600;
    width: 85%;
    border: 0px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.footer-ver {
  display: none;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 80px;
  background: white;
  left: 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tu preferencia */
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05)
  ); /* Ajusta la opacidad según tu preferencia */
  .footer-section_v {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;

    p {
      width: 34px;
      height: 34px;
      font-size: 2.1em;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(2) {
        background: rgb(236, 235, 235);
        border-radius: 6px;
        font-size: 1.7em;
        margin: 0px 8px;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 500;
      }
    }
    button {
      background: $verde-claro;
      padding: 13px;
      border: 0px solid;
      border-radius: 15px;
      width: 140px;
      color: white;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 3px;
      font-weight: 700;
      font-size: 0.9em;
      box-shadow: inset 0 0px 40px rgba(0, 0, 0, 0.2);
    }
  }
}
.Dnone {
  display: none;
}
.Dflex {
  display: flex;
}
