.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Poppins", "sans-serif";
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  .main-hr {
    width: 100vw;
    border: 2px solid #f4f4f4;
    margin-top: 15px;
  }
  .main-article {
    width: 100%;
    text-align: start;
    font-size: 0.8em;
    margin: 15px 0px;
    padding: 0px 5%;
  }
  .main-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow-x: auto; /* Habilita la barra de desplazamiento */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */

    &::-webkit-scrollbar {
      display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit, como Chrome y Safari */
    }
    .section-div_categories {
      width: 100%;
      max-width: 80px;
      height: min-content;
      margin: 0px 15px;
      cursor: pointer;
      .div-section_photo {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        width: 100%;
        height: 65px;
        overflow: hidden; /* Evita el desbordamiento */
        background: $celeste-pastel;
        border-radius: 10px;
        img {
          max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
          max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
          object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
        }
      }
      .div-article_text {
        text-align: center;
        font-size: 0.9em;
      }
    }
  }

  .main-section_2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    .section-article {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5%;
      h2 {
        font-size: 1.2em;
      }
      .article-span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 92px;
        i {
          font-size: 1.4em;
          font-weight: bold;
        }
      }
    }
    .section-div_conteinerCards {
      display: flex;
      justify-content: space-between;
      padding: 10px 0px;
      overflow: auto; /* Habilita la barra de desplazamiento */
      scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
      -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */

      &::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit, como Chrome y Safari */
      }

      .section-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        min-width: 200px;
        max-width: 350px;

        background: white;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
        margin: 0px 10px;
        position: relative;
        .section-div_like {
          position: absolute;
          text-align: end;
          padding: 5px 15px;
          font-size: 2em;
          width: 100%;
          &:active {
            color: red;
          }
        }
        .card-containerImg {
          img {
            max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
            max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
            object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
          }
        }
        .card-containerText {
          width: 100%;
          height: 100%;
          padding-bottom: 15px;
          p {
            padding: 3px 0px;
            &:nth-child(1) {
              font-size: 0.9em;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: 48px;
            }
            &:nth-child(2) {
              font-size: 1.1em;
            }
            &:nth-child(3) {
              font-size: 1em;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
              letter-spacing: 1px;
              font-weight: lighter;
              text-decoration: line-through;
              color: #b6b0b8;
            }
          }
        }
        .card-containerButtons {
          display: flex;
          width: 100%;
          justify-content: space-between;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            &:nth-child(1) {
              background: $verde-claro;
              width: 70%;
              color: white;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              letter-spacing: 2px;
              font-size: 1em;
            }
            &:nth-child(2) {
              width: 20%;
              font-size: 1.8em;

              background: white;
              i {
                font-weight: 1000;
              }
            }
          }
        }
      }
    }
  }
}
