.div_modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(230, 230, 236);
  overflow: hidden;
  padding-bottom: 60px;
  transition: ease 1s;
  .section_modal_header {
    display: flex;
    width: 100%;
    height: 50px;

    background: $verde-claro;
    article {
      flex: 1;
      display: flex;
      align-items: center;
      color: white;
      p {
        font-family: "Montserrat", sans-serif;
      }
      &:nth-child(1) {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        justify-content: flex-end;
      }
      i {
        font-size: 2.2em;
      }
    }
  }
  .conteiner-cards-fav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;

    .article_card_fav {
      display: flex;
      color: black;
      width: 100%;
      height: 160px;
      min-height: 160px;
      padding: 10px;
      flex-direction: row;

      border-bottom: 1px solid $gris;
      background: white;
      &:last-child {
        border-bottom: 0px;
      }
      .article_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        min-width: 100px;

        img {
          max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
          max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
          object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
        }
      }
      .article_text {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: "Montserrat", sans-serif;

        .title_fav {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .through {
          text-decoration: line-through;
          color: $gris-oscuro;
          font-size: 0.8em;
        }
        .delete {
          color: $azul;
          font-size: 1em;
          padding: 0px 3px;
        }
        .ofert {
          display: flex;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 2px;

            &:nth-child(1) {
              font-size: 1.4em;
            }

            &:nth-child(2) {
              color: $verde-claro;
              font-size: 0.8em;
              font-weight: 800;
            }
          }
        }
        .send {
          display: flex;
          color: $verde-claro;
          i {
            font-size: 1.4em;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 2px;
            font-size: 0.9em;

            &:nth-child(1) {
              font-size: 0.8em;
            }

            &:nth-child(3) {
              font-size: 0.8em;
              color: $verde-claro;

              font-family: "Poppins", "sans-serif";
              font-weight: bolder;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
.show {
  transform: translateY(0%);
}
